@model int
@{
    ViewBag.Title = "Index";
}

<form method="post">
    <input type="text" placeholder="sayıgir" value="@Model" name="sayi" id="sayi" />
    <input type="submit" value="gönder" />
</form>
<h2>Index</h2>

